<p style="color: green"><%= notice %></p>


<table class="table">
  <thead>
   <tr>
    <th class="col-md-3" scope="col">Nome</th>
    <th class="col-md-3" scope="col">Criado em</th>
    <th class="col-md-3" scope="col">Açoes</th>
  </tr>
  </thead>
  <tbody>
     <%= render @director %>
  </tbody>
  </table>

            <div>
  <div class="d-flex flex-row-reverse mb-5 justify-content">
  <nav class="nav nav-pills ">
    <a class="nav-item">
      <%= link_to '/directors', style:"background-color: #C0C0C0", class: "nav-link text-black  #{'active' if controller_name == 'directors'}" do %>
        Voltar
      <% end %>
         </div>
         </div>
</div>
